In [149]:
import pandas as pd
import numpy as np
df = pd.read_csv("Happiness_Report_2015_2020.csv")
df.head()

,Report Year,Overall Rank,Country,Happiness Score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2015,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2.51738
1,2015,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2.70201
2,2015,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2.49204
3,2015,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2.46531
4,2015,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2.45176

In [150]:
# Any country that has a zero in any of the columns is not being compared on an equal footing, so remove it from the dataset
df_clean = df.replace({'0':np.nan, 0:np.nan})
df_clean = df_clean.dropna(how="any")
print(f"There were {len(df)} data points in the original Dataframe, but only {len(df_clean)} usable points")

There were 935 data points in the original Dataframe, but only 899 usable points

In [151]:
# Define the year values to loop through
years = [2015, 2016, 2017, 2018, 2019, 2020]

In [152]:
# Create a series of the of the countries to include in the analysis
countries = df_clean.Country.unique()

In [153]:
# Get the number of countries for future reference
country_counts = df_clean.Country.value_counts()

In [154]:
# Exclude countries that are not present in all years of the report
clean_countries = []
for country in countries:
    # If country has six occurences, add it to clean_countries
    if country_counts[f"{country}"] == 6:
        clean_countries.append(country)

print(f"There were {len(countries)} in the clean dataset, but only {len(clean_countries)} countries that appeared in every report with clean data")

# Create a new dataframe that considers only the countries that are there every year
df_clean = df.loc[df['Country'].isin(clean_countries)]

There were 170 in the clean dataset, but only 126 countries that appeared in every report with clean data

In [155]:
# Create an empty df with columns "Country" "Report Year" "Position Change"
yoy_df = pd.DataFrame(columns = ['Country', 'Report Year', "Clean Rank", "Position Change", "Happiness Change"])

# grab only certain columns, and one year at a time. Sort it by 
dfs = []

for year in years:
    
    rows_df = df_clean.loc[df['Report Year'] == year, df_clean.columns.isin(["Country", "Report Year", "Overall Rank", "Happiness Score"])].sort_values(by=['Overall Rank'])
    rows_df["Clean Rank"] = np.arange(0, len(df_clean.loc[df['Report Year'] == year]))
    dfs.append(rows_df)

In [156]:
print(dfs[0].loc[dfs[0]["Country"] == "Norway", "Clean Rank"])
print(dfs[1].loc[dfs[1]["Country"] == "Norway", "Clean Rank"])
print(dfs[2].loc[dfs[2]["Country"] == "Norway", "Clean Rank"])
print(dfs[3].loc[dfs[3]["Country"] == "Norway", "Clean Rank"])
print(dfs[4].loc[dfs[4]["Country"] == "Norway", "Clean Rank"])
print(dfs[5].loc[dfs[5]["Country"] == "Norway", "Clean Rank"])

3    3
Name: Clean Rank, dtype: int32
161    3
Name: Clean Rank, dtype: int32
315    0
Name: Clean Rank, dtype: int32
471    1
Name: Clean Rank, dtype: int32
628    2
Name: Clean Rank, dtype: int32
786    4
Name: Clean Rank, dtype: int32

In [157]:
for i in range(len(dfs) - 1):
    
    d_position = []
    d_happiness = []
    
    for row in range(len(dfs[i])):
        
        country = dfs[i+1].iloc[row]["Country"]
        # Get the data for a given country at the given year as well as the previous year
        last_report = dfs[i].loc[dfs[i]["Country"] == f"{country}"]
        new_report = dfs[i+1].loc[dfs[i+1]["Country"] == f"{country}"]

        # Get only the rank and the overall happiness score
        idx_new = new_report.index.to_list()
        idx_last = last_report.index.to_list()

        if len(idx_new) > 1:
            print(f"Error: Multiple reports recieved for {country} in {years[i+1]}")
                                                                       
        elif len(idx_last) >1 :
            print(f"Error: Multiple reports recieved for {country} in {years[i]}")

        else:
            new_pos = new_report.at[idx_new[0],"Clean Rank"]
            last_pos = last_report.at[idx_last[0],"Clean Rank"]
            new_happiness = new_report.at[idx_new[0],"Happiness Score"]
            last_happiness = last_report.at[idx_last[0],"Happiness Score"]

        d_position.append(last_pos - new_pos)
        d_happiness.append(new_happiness - last_happiness)

    dfs[i+1]["Position Change"] = d_position
    dfs[i+1]["Happiness Change"] = d_happiness
                                                                       
    yoy_df = pd.concat([yoy_df, dfs[i+1]], ignore_index=True)

yoy_df

C:\Users\hawki\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Clean Rank,Country,Happiness Change,Happiness Score,Overall Rank,Position Change,Report Year
0,0,Denmark,-0.0010,7.5260,1.0,2,2016
1,1,Switzerland,-0.0780,7.5090,2.0,-1,2016
2,2,Iceland,-0.0600,7.5010,3.0,-1,2016
3,3,Norway,-0.0240,7.4980,4.0,0,2016
4,4,Finland,0.0070,7.4130,5.0,1,2016
...,...,...,...,...,...,...,...
625,121,Yemen,0.1474,3.5274,146.0,2,2020
626,122,Botswana,-0.0091,3.4789,147.0,-1,2020
627,123,Tanzania,0.2452,3.4762,148.0,2,2020
628,124,Rwanda,-0.0217,3.3123,150.0,0,2020
629,125,Zimbabwe,-0.3638,3.2992,151.0,-6,2020

In [159]:
yoy_df.loc[yoy_df["Country"] == "Norway"]

,Clean Rank,Country,Happiness Change,Happiness Score,Overall Rank,Position Change,Report Year
3,3,Norway,-0.024,7.498,4.0,0,2016
126,0,Norway,0.039,7.537,1.0,3,2017
253,1,Norway,0.057,7.594,2.0,-1,2018
380,2,Norway,-0.040,7.554,3.0,-1,2019
508,4,Norway,-0.066,7.488,5.0,-2,2020